body {
    background-color: slategray;
}
.mainTitle {
    text-align: center;    
}
table{
    border: 2px solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}
tr.inputFields{
    border: 1px solid;
}
th {
    border: 1px solid;

    text-align: left;
}
/* make table centered and have borders where needed.
   maybe add a differen background color to the table as well? */