body {
  background-color: slategray;
}
.delete {
  border-left: 1px solid;
  text-align: center;
}
.deleteButton {
  margin: center;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: darkgray;
}
.inputs {
  text-align: center;
  margin-top: 10px;
}

.mainTitle {
  text-align: center;
  margin-top: 20px;
  color: white;
}
.red {
  background-color: red;
  border-radius: 5px;
}
.submit {
  background-color: black;
  color: white;
  border: none;
  padding: 7px 7px;
  cursor: pointer;
}
.submit:hover {
  background-color: darkgray;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  max-width: 700px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
table,
th,
td {
  border-bottom: 1px solid #ccc;
}
th,
td {
  padding: 8px;
  text-align: left;
}

td.salary::before {
    content: "$"; /* took me a bit to figure this out */
}
tr.inputFields {
  border: 1px solid;
}
.total {
  text-align: right;
  max-width: 700px;
}
